# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List popular IDEs
* Present examples of arithmetic operations

## Author
Nyx

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. tensorflow

| Data Science Tools |
|--------------------|
| RStudio |
| Spyder |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335